
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Beluki</title>
        <link rel="stylesheet" href="{{ url_static('style.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_static('codehilite.css') }}" type="text/css">
    </head>

    <body>
        <div class="top-bar">
            <ul>
                <li> <a href="{{ url_index() }}">índice</a> </li>
                <li> <a href="{{ url_archive() }}">archivo</a> </li>
                <li> <a href="{{ url_page_by_path('about') }}">acerca de</a> </li>
            </ul>
        </div>
        <div class="wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

