
<div id="disqus_thread"></div>

<script type="text/javascript">
    (function() {
        var disqus = document.createElement('script');

        disqus.type = 'text/javascript';
        disqus.async = true;
        disqus.src = '//beluki.disqus.com/embed.js';

        (document.getElementsByTagName('head')[0] ||
         document.getElementsByTagName('body')[0]).appendChild(disqus);
    })();
</script>

<noscript>
    <div class="content">
        <p> (no se pueden mostrar los comentarios, Javascript está desactivado) </p>
    </div>
</noscript>

