
{% extends '_base.html' %}

{% block content %}
    {% set pagination = posts | paginate(page, 5) %}

    {% if pagination %}
        {% set posts = pagination.items %}
    {% endif %}

    {% for post in posts %}
        {% include '_render-post.html' %}

        <div class="multilink">
            <a href="{{ url_post(post) }}">permalink</a> |
            <a href="{{ url_post(post) }}#disqus_thread">comentarios</a>
        </div>
    {% endfor %}

    {% if pagination %}
        <div class="prevnext">
            <ul>
                {% if pagination.has_prev %}
                    <li> <a href="{{ url_index(page - 1) }}">&laquo; siguiente</a> </li>
                {% endif %}

                {% if pagination.has_next %}
                    <li> <a href="{{ url_index(page + 1) }}">anterior &raquo;</a> </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

